/* By NOAHLUALU 2016.aug.25 */

body{margin:0px;padding:0px;color:#FFFFFF;}  
td{border: none;padding: 20px;padding-bottom: 30px;padding-top: 30px;}
span,h1{color: #FFFFFF;}
.maindiv{position:absolute;width:100%;height:100%;overflow:auto;}  
.radiodiv{position:absolute;bottom:30%;right:20px;display:inline-table;text-align:right;}  
.contentdiv{position:absolute;width:100%;height:100%;color:#999999;background-color:#333333;} 
.blur {	
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}

/*page frame*/
#contentdiv1{left: 0%;background-color:transparent;}  
#contentdiv2{left:100%;background-color:transparent;}  
#contentdiv3{left:200%;background-color:transparent;}  
#contentdiv4{left:300%;background-color:transparent;}  

