/* NOAHLUALU www.llsupport.cn */
a{text-decoration:none;}
a:active{text-decoration:none;}
a:visited{text-decoration:none;}
a:focus{text-decoration:none;}
a:hover{text-decoration:none;}
a{box-shadow: #ccc 1px !important;border-radius: 90px;}
/* tips */
#block2{width:100%;font-size:15px;text-align:center; height: 50px;margin-top:10px;} 
#block2 ul{list-style:outside none none;height:80px;padding:3px 0;overflow:hidden;} 
#block2 ul p{color: #fff;font-family: "microsoft yahei";}
#rolltxt{height: 80px;margin-top:10px !important ;width: 100%;}
/* index */
.index-tipsframe{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top:15px;
	background-color: #fdc02f;
	height: 80px;
	border-radius: 5px;
}
#tips{
	text-align:center;font-size:30px;color: #ffffff; height: 30px;
}
.indexmd-title{
	background-color: #E91E63;
	width: 100%;
	height: 80px;
	z-index: 999;
	position: fixed;
	top: 0;
}
.indexmd-info{
	margin-top: 35px;
	margin-left: 89%;
}
.indexmd-back{
	position: absolute;
	margin-top:35px;
	margin-left:2%;
}
.indexmd-refresh{
	position: absolute;
	margin-top:35px !important;
	margin-left:89%;
	margin-right: 2%;
}
.mui-icon-info{
	color: #fff;
	font-size:34px;
}
.mui-icon-redo{
	font-size:55px;
	color: #fff;
	margin-top: 5px;
}
.mui-icon-back{
	font-size:34px;
	color: #fff;
}
.mui-icon-pulldown{
	font-size:55px;
	color: #fff;
	margin-top: 5px;
}
.mui-icon-refresh{
	font-size:34px;
	color: #fff;
	margin-top: 5px;
}
a:active{color: #000;}
.indexmd-header-text{
	position: fixed;
	color: #fff;
	font-size: 26px;
	margin-top:40px;
	margin-left: 15px;
}
.indexmd-frame{
	width: 90%;
	margin-left: 5%;
	margin-top: 15px;
	height: 240px;
	border:solid 6px #FFC107;
	border-radius: 5px;
}
.indexmd-frame-in{
	height: 180px;
	width: 100%;
}
.indexmd-frame-bar{
	height: 48px;
	width: 100%;
	background-color: #FFC107;
	color: #fff;
}
.indexmd-frame-bar-text{
	position: absolute;
	margin-top: 15px;
	margin-left: 10px;
}
.indexmd-frame-in-icon{
	background-color: #9C27B0;
	position: absolute;
	width: 65px;
	height: 65px;
	border-radius: 60px;
	z-index: 999;
	margin-top: 150px;
	margin-left:70%;
	text-align: center;
	z-index: 998;
}
.box-shadow2{
	-webkit-box-shadow: 0 1px 4px #ccc;
            box-shadow: 0 1px 4px #ccc;
}
.framebg{
	background-image: url(../img/frame3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.framebg2{
	background-image: url(../img/frame1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.framebg3{
	background-image: url(../img/frame2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}




/* page */
.box-shadow{
	-webkit-box-shadow: 0 1px 6px #ccc;
            box-shadow: 0 1px 6px #ccc;
}
.mdtitle{
	width: 100%;
	height: 80px;
	background-color: #00796B;
}
.mdbody{
	position: absolute;
	background-color: #009688;
	height: 250px;
	width: 100%;
}
.mdbody-icon{
	background-color: #FFEB3B;
	width: 80px;
	height: 80px;
	border-radius: 60px;
	margin-left: 75%;
	margin-top: 210px;
}
.page-icon{
	position: fixed;
	z-index: 999;
	width: 65px;
	height: 65px;
	background-color:#9C27B0;
	border-radius: 60px;
	margin-top: 130%;
	margin-bottom: 10%;
	margin-left: 80%;
	margin-right: 10%;
	transform: rotate(270deg);
}
.framebg4{
	background-image: url(../img/6.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.framebg5{
	background-image: url(../img/8.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.framebg6{
	background-image: url(../img/2.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.framebg7{
	background-image: url(../img/5.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.framebg8{
	background-image: url(../img/7.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.framebg9{
	background-image: url(../img/4.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.framebg10{
	background-image: url(../img/9.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.framebg11{
	background-image: url(../img/3.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.framebg12{
	background-image: url(../img/1.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.framebg13{
	background-image: url(../img/frame4.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.framebg14{
	background-image: url(../img/frame5.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.framebg15{
	background-image: url(../img/frame8.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.framebg16{
	background-image: url(../img/frame7.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.framebg17{
	background-image: url(../img/top-bg_2.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.framebg18{
	background-image: url(../img/frame6.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.framebg19{
	background-image: url(../img/twaq1.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}